
body{
    background-image: url('./images/wepik-photo-mode-20221012-04749.jpeg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: white;
}
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 30px;
    /* left: 20px; */
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: black;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .navbar{
    background-color: #292870;
  }
  
  .center{
    text-align: center;
    margin-top: 200px;

  }
  a{
    color: white;
  }
  a:hover{
    text-decoration: none;
    color: white;
  }
  .center > h1{
    font-size: 80px;
  }

  .part1 {
    background-color: white;
    color: #292870;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
  }

  .part1:hover {
    background-color: #292870;
  }

  .part2 {
    background-color: #292870;
    color: white;
    font-size: 30px;
    margin: 20px;
    padding: 10px;

  }

  .part2:hover {
    background-color: #fd9e3e;
  }
